extends layouts/main

block contenido
  section.hero
    h1 Cultura accesible para todas las personas
    p Descubre itinerarios culturales adaptados con lengua de signos, subtítulos, signoguías, bucle magnético y lectura fácil.
    a.boton(href="/itinerarios") Ver itinerarios