footer.pie
  .pie-contenedor
    p © 2026 SignaTour 
    p  Proyecto Full Stack hecho por 
      a(href="https://github.com/olatzglez" target="_blank" rel="noopener noreferrer") Olatz González
    p Hecho con cariño y ayuda de ClaudIA
